*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
.list{
    list-style:none;
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav{
    background-color:  #322E41;
}
.list{
    display: flex;
    
}
.header{
    background: url('images/header.png') no-repeat center bottom /cover ;
    min-height: 565px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.logo{
    padding: 14px 0;
}
.link{
    display: inline-block;
    padding: 23px 22px;
    color: #ffffff;
    transition: .5s;
    
}
.link:hover{
    background: #ffffff;
    color: #D47300;
}
.header__content{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.header__title{
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 15px;
}
.header__txt{
    font-size: 18px;
}